---
import Layout from '../layouts/Layout.astro';
import '../styles/style.css';
import Cards from '../components/BlogImporter.astro';
---

<Layout title="Blog">
    <div class="blogContainer">
        <h1 class="blogTitles">Blog Posts:</h1>
        <Cards />
    </div>
</Layout>


