---
import Layout from '../layouts/Layout.astro';
import '../styles/style.css';
import Cards from '../components/ProjectCards.astro';
---

<Layout title="Projects">
    <div class="projectContainer">
        <h1 class="projectTitles" >Projects: </h1>
	<Cards />
    </div>
</Layout>



<style>
    /* 
==========================================================
            Begining of site Main settings
==========================================================
*/
/* Main Content Div */
.projectContainer {
  
  
}

/* @media only screen and (max-width: 768px) {
    .projectContainer {
        margin: 2.5rem 1rem 2.5rem 1rem;
    }

} */

</style>