---
import Layout from '../layouts/Layout.astro';
import '../styles/style.css';
import Cards from '../components/WalkThroughCards.astro';
---

<Layout title="Walk Throughs">
    <div class="walkThroughContainer">
        <h1 class="walkThroughTitles">Walk Throughs: </h1>
	<Cards />
    </div>
</Layout>

<style>
    /* 
==========================================================
            Begining of site Main settings
==========================================================
*/
/* Main Content Div */
/* .walkThroughContainer {
  margin: 2.5rem 6rem 2.5rem 6rem;
  
}

@media only screen and (max-width: 768px) {
    .walkThroughContainer {
        margin: 2.5rem 1rem 2.5rem 1rem;
    }

} */

</style>