---
const allPosts = await Astro.glob('../pages/walkthroughs/*.md');
allPosts.sort((a, b) => {
	return a.frontmatter.date < b.frontmatter.date ? 1 : -1;
});
allPosts.length = 3;
---

{allPosts.map((post) => (
	<a href={post.frontmatter.href} class={post.frontmatter.classes}>
		<h2 class="contentTitles">{post.frontmatter.title}</h2>
		<p class="contentText">{post.frontmatter.discription}</p>
	</a>
))}