---
import "../styles/SocialsStyles.css"
import { Icon } from 'astro-icon'
---

    <a title="GitHub" class="buttonLinks" href="https://github.com/MrToast72" target="_blank" id="githubButton">
      <div class="socialButtons github">
        <Icon class="buttonImages" name="ri:github-line"></Icon>
      </div>
    </a>

    <a title="Twitter" class="buttonLinks" href="https://twitter.com/mrtoast72" target="_blank" id="twitterButton">
      <div class="socialButtons twitter">
        <Icon class="buttonImages" name="ri:twitter-line"></Icon>
      </div>
    </a>

    <a title="Discord" class="buttonLinks" href="https://discord.gg/7gqVs9Q" target="_blank" id="discordButton">
      <div class="socialButtons discord">
        <Icon class="buttonImages" name="ri:discord-line"></Icon>
      </div>
    </a>

    <a title="Instagram" class="buttonLinks" href="https://instagram.com/mrtoast72" target="_blank" id="instagramButton">
      <div class="socialButtons instagram">
        <Icon class="buttonImages" name="ri:instagram-line"></Icon>
      </div>
    </a>

    <a title="Spotify" class="buttonLinks" href="https://open.spotify.com/user/27fnh31cnleledf5hpy64yc6v" target="_blank" id="spotifyButton">
      <div class="socialButtons spotify">
        <Icon class="buttonImages" name="ri:spotify-line"></Icon>
      </div>
    </a>

    <a title="YouTube" class="buttonLinks" href="https://www.youtube.com/c/mrtoast72" target="_blank" id="youtubeButton">
      <div class="socialButtons youtube">
        <Icon class="buttonImages" name="ri:youtube-line"></Icon>
      </div>
    </a>

    <a title="Twitch" class="buttonLinks" href="https://www.twitch.tv/mrtoastlxxii" target="_blank" id="twitchButton">
      <div class="socialButtons twitch">
        <Icon class="buttonImages" name="ri:twitch-line"></Icon>
      </div>
    </a>

  </div>
